@use "./variables.scss" as *;
@use "./base.scss";

// put your custom CSS here!

.page {

  & > #quartz-body {

    & .sidebar {
      padding: 0 1.5rem;
      padding-top: 2em;
      margin-top: 0;
      @media all and (max-width: $fullPageWidth) {
        padding: 0;
        margin-top: 2em;
      }
    }

    & .sidebar.left {
      left: 0;
      overflow-y: auto;
      height: 100%;
    }

    & .sidebar.right {
      right: 0;
      display: none;
    }
  }

  & .center,
  & footer {
    margin-right: 0;
    margin-left: $sidePanelWidth;
    @media all and (max-width: $fullPageWidth) {
      margin-left: 0;
    }
  }
}

ul.overflow,
ol.overflow {
  max-height: none;

  &:after {
    background: none;
  }
}

blockquote.transclude {
  border-left: none;
  padding-left: 0;
}
