@use "./variables.scss" as *;
@use "./base.scss";

// put your custom CSS here!

.page {

  & > #quartz-body {

    & .sidebar {
      padding: 0 1rem;
    }

    & .sidebar.left {
      left: 0;
    }

    & .sidebar.right {
      right: 0;
      display: none;
    }
  }

  & .center,
  & footer {
    margin-right: 0;
    margin-left: $sidePanelWidth;
    @media all and (max-width: $fullPageWidth) {
      margin-left: 0;
    }
  }
}
