@use "./variables.scss" as *;
@use "./base.scss";

// put your custom CSS here!

.page {

  & > #quartz-body {

    & .sidebar {
      padding: 0 1.5rem;
      padding-top: 2em;
      margin-top: 0;
      @media all and (max-width: $fullPageWidth) {
        padding: 0;
        margin-top: 2em;
      }
    }

    & .sidebar.left {
      left: 0;
      overflow-y: auto;
      height: 100%;
    }

    & .sidebar.right {
      right: 0;
      display: none;
    }
  }

  & .center,
  & footer {
    margin-right: 0;
    margin-left: $sidePanelWidth;
    @media all and (max-width: $fullPageWidth) {
      margin-left: 0;
    }
  }
}

.explorer {
  margin-bottom: 1rem;
}

ul.overflow,
ol.overflow {
  max-height: none;

  &:after {
    background: none;
  }
}

blockquote.transclude {
  border-left: none;
  padding-left: 0;
}

#feedback-form {
  & input, & textarea {
    width: 100%;
    border-radius: 5px;
    background: var(--lightgray);
    margin-bottom: 2em;

    box-sizing: border-box;
    padding: 0.5em 1em;
    font-family: var(--bodyFont);
    color: var(--dark);
    font-size: 1.1em;
    border: 1px solid var(--lightgray);

    &:focus {
      outline: none;
    }
  }

  & textarea {
    height: 100px;
  }

  & button {
    font-family: var(--bodyFont);
    font-size: 1.1em;
    padding: 0.5rem 1rem;
    margin: 0;
    color: var(--light);
    border-color: var(--dark);
    background-color: var(--secondary);
    border: none;
    border-radius: 5px;
    opacity: 0.8;
    transition: 0.2s;

    &[disabled] {
      background-color: var(--lightgray);
      &:hover {
        cursor: not-allowed;
      }
    }

    & > svg {
      fill: var(--light);
      filter: contrast(0.3);
    }

    &:hover {
      cursor: pointer;
      border-color: var(--secondary);
    }

    &:focus {
      outline: 0;
    }
  }
}
